*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    overflow: hidden;
    width: 100%;
    height: 7vh;
    background-color:  #832aff;
    /* display: flex;
    align-items: center; */
}
nav{
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content:center;
}
nav ul li.item{
    margin-right: 25px;
    list-style: none;
    color: #fff;
    font-size: 15px;
}
nav ul li.item:hover{
    color: orange;
    cursor: pointer;
    border-bottom: 1px solid orange;
}
nav ul li.item1{
    color: orange;
    border-bottom: 1px solid orange;
}
.head{
    color: #fff;
}
/* main */

.image{
    background-image: url(hero_image.png);
    height: 93vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 173px;
}
h1.mutune {
        font-size: 51px;
        color: #fff;
        font-family: math;
} 
.para{
    color: #fff;
    font-size: 21px;
    line-height: 75px;
}
.grap{
    color: #fff;
    font-size: 15px;
    width: 542px;
    padding: 0px 0px;
    margin-left: 202px;

}
/* about */
.container{
    height: 835px;
    /* border-bottom: 2px solid black; */
}
.container1{
    background-color: #3d107d;
    height: 90vh;
    text-align: center;
    padding: 20px;
}
.fa-solid, .fas {
    font-weight: 900;
    margin-right: 15px;
}
.head1{
    color: #fff;
}
.head2 {
    color: #fff;
    line-height: 82px;
}
.para1{
    width: 635px;
    margin-left: 318px;
    color: #fff;
    font-size: 14px;
}
button {
    padding: 11px 17px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #f14545;
    margin-top: 46px;
}
button:hover{
    cursor: pointer;
}
p.para2 {
    margin-top: 25px;
    font-size: 11px;
    color: #fff;
}
.phone{
    width: 58%;
}
.minku {
    height: 100vh;
    text-align: center;
    padding: 60px 165px;
}
.macbook{
    width: 58vw;
    margin-top: 20px;
}
.head3{
    line-height: 85px;
}
.photo {
    width: 70vw;
    height: 67vh;
}
.Read{
    padding: 11px 17px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #f14545;
    margin-top: 15px;
}
.miku {
    height: 124vh;
    /* border-bottom: 2px solid black; */
}
.hero{
    height: 75vh;
    background-image: url(hero_image.png);
    padding: 118px 240px;
    text-align: center;
}
.head4{
    color: #fff;
}
.lorem{
    color: #fff;
    font-size: 11px;
    margin-top: 70px;
}
.gift {
    display: flex;
    padding: 100px;
}
p.lorem1{
    margin-top: 45px;
}
p.lorem2{
    margin-top: 20px;
}
hr{
    margin-top: 30px;
}
.redeem{
    padding: 8px 20px;
    border: none;
    font-size: 15px;
    color: #fff;
    background-color: #f14545;
}
/* footer  */
.foot {
    background-color: #3d107d;
    color: #fff;
    display: flex;
    height: 36vh;
    padding: 50px 60px;
    /* text-align: center; */
}
.list{
margin-left: 60px;
    width: 100%;
}
.head7{
    font-size: 23px;
    border-bottom: 2px solid #fff;
}
ol{
    margin-top: 10px;
}
li{
    font-size: 13px;
line-height: 20px;
    list-style: none;
}
li:hover{
    cursor: pointer;
}
.line{
    margin-top: 5px;
}
/* footer  */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    background-color: #733ebe;
    text-align: center;
    color: #fff;
}

